* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #ededed;
    margin-left: 35px;
    transition: 0.24s;
}

.navbar a:hover, .navbar a.active {
    color: #2474ad;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    background-color: transparent;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 600;
}

.home-content h3 {
    font-size: 36px;
    font-weight: 700px;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
}

.home-content btn-box {
    display: flex;
    width: 345px;
    height: 50px;
    background-color: transparent;
    justify-content: space-between;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 10%;
    background: #00abf0;
    text-decoration: none;
    color: #081b29;
    border: 2px solid #00abf0;
    font-weight: 600;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #ededed;
    margin-left: 25px;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: inline-flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #00abf0 ;
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    color: #00abf0;
    font-size: 20px;
}